<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/achat.css">
    <title>Achat</title>
</head>
<body>
    <div class="menu">
        <nav class="tem">
            <ul class="tem1">
                <li><a href="index.html">Home</a></li>
                <li><a href="video.html">Video</a></li>
                <li class="active">Achat</li>
                <li><a href="vente.html">Vente</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <h1>Nos produits à vendre</h1>
        <div class="product">
            <div class="product-item">
                <img src="../photos/pexels-alena-shekhovtcova-6941030.jpg" alt="Product 1">
                <h2>Product 1</h2>
                <p>Description du produit 1.</p>
                <button>Acheter maintenant</button>
            </div>
            <div class="product-item">
                <img src="../photos/pexels-any-lane-5945739.jpg" alt="Product 2">
                <h2>Product 2</h2>
                <p>Description du produit 2.</p>
                <button>Acheter maintenant</button>
            </div>
            <div class="product-item">
                <img src="../photos/pexels-laker-6157049.jpg" alt="Product 2">
                <h2>Product 2</h2>
                <p>Description du produit 2.</p>
                <button>Acheter maintenant</button>
            </div>
            <div class="product-item">
                <img src="../photos/pexels-laker-6157056.jpg" alt="Product 2">
                <h2>Product 2</h2>
                <p>Description du produit 2.</p>
                <button>Acheter maintenant</button>
            </div>
            <div class="product-item">
                <img src="../photos/pexels-olenkabohovyk-3819969.jpg" alt="Product 2">
                <h2>Product 2</h2>
                <p>Description du produit 2.</p>
                <button>Acheter maintenant</button>
            </div>
            <!-- Ajoutez plus de produits selon vos besoins -->
        </div>
    </div>
</body>
</html>
