<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>index</title>
    
</head>
<body>
    <div class="menu">
        <nav class="tem">
            <ul class="tem1">
                <li>home</li>
                <li><a href="video.html">video</a> </li>
                <li><a href="achat.html">achat</a></li>
                <li>ventre</li>
            </ul>
        </nav>
    </div>
    <div class="contener">
        <div class="card">photo 0</div>
        <div class="card">photo 2</div>
        <div class="card">photo 3</div>
        <div class="card">photo 4</div>
    </div>
</body>
</html>